DB_TYPE=sqlite
SQLITE_PATH=db/aic.db
POSTGRES_URL=postgresql://user:pass@localhost:5432/aic
ENABLE_REDDIT=true
ENABLE_YELP=false
ENABLE_WIKIPEDIA=true
ENABLE_WHOIS=true
ENABLE_CACHE=true
NODE_PORT=4000
FLASKPORT=5000
