<div class="container">

  <h1>AIC SCORE DASHBOARD</h1>

  <input [(ngModel)]="entity" placeholder="Enter entity">
  <button (click)="search()">Analyze</button>

  <div *ngIf="scoreData">

    <h2>{{scoreData.entity}}</h2>

    <h1>{{scoreData.score}} / 1000</h1>
    <h3>{{scoreData.grade}}</h3>

    <p>
      Trend:
      <b>{{scoreData.trend?.trend}}</b>
      ({{scoreData.trend?.change}})
    </p>

    <h3>Signals</h3>
    <pre>{{scoreData.signals | json}}</pre>

  </div>

  <div *ngIf="historyData">

    <h3>History</h3>

    <ul>
      <li *ngFor="let h of historyData.history">
        Score: {{h[0]}} | Time: {{h[1]}}
      </li>
    </ul>

  </div>

</div>
